
body,html{
    width: 100vw;
    height: 600vh;
    overflow-x: hidden;
    display: flex;
    position: static;
    justify-content: start;
    background-color:#FF76AA ;
}
.contenedor{
    
    width:100vw;
    height: 100vh;
    position: static;
    background: url(part1.png); background-position: center;
    background-size: cover;
}
.lapiz{
    width: 100vw;
    position:absolute;
    overflow-x: hidden;
    animation-name: example;
     animation-duration: 4s;
     animation-iteration-count: infinite;
    }
    @keyframes  example{
      0%   { left:43vw; top:470px;}
      50%  { left:85vw; top:470px;}
      100% { left:43vw; top:470px;}
    }
.lapiz img{
    width: 100px;
  
}
.ondulado{

    position: absolute;
    top: 700px;
    right: .5px;
    
}
.ondulado img{
  width: 100vw;
  
 
}
.acentos{
top:935px;
height: 100vh;
right: .5px;
display: flex;
justify-content: center;
    position: absolute;
    background-color: rgb(255, 255, 255);
    margin: auto;
}
.movimiento{
top: 990px;
display: flex;
justify-content: end;
    position: absolute;

   
    animation-name:blender;
    animation-timeline: scroll(root block)
}
.movimiento img{
    width: 60%;
  

}
.movimiento2{
    position: absolute;
    top: 1455px;
    right: 60px;
    
    animation-name: cavalry;
    animation-timeline: scroll(root block)
}
.movimiento2 img{
    width: 60%;
  }
  @keyframes cavalry{
    0%   { right:-30%; }
    50%  { right:10%; }
    100% { right:-30%; }
  }

@keyframes blender{
    0%   { left:-30%; }
    50%  { left:10%; }
    100% { left:-30%; }
  }

.acentos video{
    position: absolute;
    left: 165px;
    top: 240px;
}
.acentos img{
    width: 100%;
    padding: 10%;

   
}
.cartas{
    
right: .5px;
   background-color: rgb(255, 255, 255);
   position: absolute;

padding: 10%;

   top: 1600px;
   

    --index0: calc(var(--index) - 1); /* 0-based index */
	--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
	--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
}
@keyframes scale{
	to {
		transform:
			scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
	}
}
   
#cartas {
	--numcards: 4;
	view-timeline-name: --cards-element-scrolls-in-body;


}

.carta{
    
padding-top: 5%;

position: sticky;
display: flex;
justify-content:center;
top: 0;
    
    
        
        --start-range: calc(var(--index0) / var(--numcards) * 100%);
        --end-range: calc((var(--index)) / var(--numcards) * 100%);
    
        animation: linear scale forwards;
        animation-timeline: --cards-element-scrolls-in-body;
        animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
    }

.carta img{
    width: 90%;
}
@media (max-width: 1000px){ 
    
body,html{
    width: 100vw;
    height: 100vh;
  overflow-x: hidden;
}


    
    .contenedor{
    
        width:100vw;
        height: 100vh;
        position: static;
        background: url(part1cel.png); background-position: center;
        background-size: cover

    }
        .lapiz{
            width: 24vw;
            height: 100vh;
            display: flex;
            align-items: center;
            position:absolute;
            background-color: bisque;
        
    
            animation-name: example;
             animation-duration: 4s;
             animation-iteration-count: infinite;
            }
            @keyframes  example{
              0%   { left:13vw; }
              50%  { left:75vw; }
              100% { left:13vw; }
            }
        .lapiz img{
            width: 20vw;
          
           
        }
}
